/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 500px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;

}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px;
    text-align: center;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #444;
}

.content {
    flex: 1;
    padding: 20px;
}
